<!-- @format -->

<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="index-new.html" class="logo">
            <img
                src="/static/assets/img/logo.png"
                class="logo-one"
                alt="Logo"
            />
            <img
                src="/static/assets/img/sticky-logo.png"
                class="logo-two"
                alt="Logo"
            />
        </a>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav top-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="/static/assets/img/logo.png" alt="Logo" />
                </a>
                <a class="navbar-brand-sticky" href="index.html">
                    <img src="/static/assets/img/sticky-logo.png" alt="Logo" />
                </a>

                <div
                    class="collapse navbar-collapse mean-menu"
                    id="navbarSupportedContent"
                >
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                Home
                                <i class="bx bxs-chevron-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">
                                        Home One
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-two.html" class="nav-link">
                                        Home Two
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="index-three.html"
                                        class="nav-link active"
                                    >
                                        Home Three
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link"> About </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Pages
                                <i class="bx bxs-chevron-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="sign-in.html" class="nav-link">
                                        Login
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="sign-up.html" class="nav-link">
                                        Register
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="detect-image.html" class="nav-link">
                                        Detect Picture
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="detect-video.html" class="nav-link">
                                        Detect Video
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="detect-camera.html" class="nav-link">
                                        Detect Camera
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="recover-password.html"
                                        class="nav-link"
                                        >Recover Password</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="terms-condition.html"
                                        class="nav-link"
                                    >
                                        Terms & Conditions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="privacy-policy.html"
                                        class="nav-link"
                                    >
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Level 1
                                        <i class="bx bx-chevron-right"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"
                                                >Level 2</a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"
                                                >Level 2</a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Level 2
                                                <i
                                                    class="bx bx-chevron-right"
                                                ></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link"
                                                        >Level 3</a
                                                    >
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#" class="nav-link"
                                                        >Level 3</a
                                                    >
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Services
                                <i class="bx bxs-chevron-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="services.html" class="nav-link">
                                        Services
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="service-details.html"
                                        class="nav-link"
                                    >
                                        Service Details
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="testimonial.html" class="nav-link">
                                Testimonial
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Blog
                                <i class="bx bxs-chevron-right"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="blog.html" class="nav-link">
                                        Blog
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a
                                        href="blog-details.html"
                                        class="nav-link"
                                    >
                                        Blog Details
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">
                                Contact
                            </a>
                        </li>
                    </ul>

                    <div class="other-side">
                        <div class="search-area">
                            <div class="other-option">
                                <div class="search-item">
                                    <a href="#" class="search-btn">
                                        <i class="flaticon-loupe"></i>
                                    </a>
                                    <i class="close-btn bx bx-x"></i>
                                    <div class="search-overlay search-popup">
                                        <div class="search-box">
                                            <form class="search-form">
                                                <input
                                                    class="search-input"
                                                    name="search"
                                                    placeholder="Search"
                                                    type="text"
                                                />
                                                <button
                                                    class="search-button"
                                                    type="submit"
                                                >
                                                    <i
                                                        class="flaticon-loupe"
                                                    ></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-menu">
                            <a
                                href="#"
                                data-bs-toggle="modal"
                                data-bs-target="#myModal2"
                            >
                                <i class="flaticon-menu"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->

















<!-- Start Sidebar Modal -->
<div class="sidebar-modal">
    <div
        class="modal right fade"
        id="myModal2"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myModalLabel2"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button
                        type="button"
                        class="close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    >
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    <h2 class="modal-title" id="myModalLabel2">
                        <a href="index.html">
                            <img
                                src="/static/assets/img/logo.png"
                                class="modal-logo1"
                                alt="Logo"
                            />
                            <img
                                src="/static/assets/img/sticky-logo.png"
                                class="modal-logo2"
                                alt="Logo"
                            />
                        </a>
                    </h2>
                </div>

                <div class="modal-body">
                    
                    <div class="sidebar-modal-widget">
                        <h3 class="title">Additional Links</h3>
                        <ul>
                            <li>
                                <a href="sign-in.html">Sign In</a>
                            </li>
                            <li>
                                <a href="sign-up.html">Sign Up</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="log-out.html">Logout</a>
                            </li>
                        </ul>
                    </div>

                    <!-- <div class="sidebar-modal-widget">
                        <h3 class="title">Contact Info</h3>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-pin"></i>
                                Address
                                <span>28/A Street, New York, USA</span>
                            </li>
                            <li>
                                <i class="flaticon-paper-plane"></i>
                                Email
                                <span>info@bonsa.com</span>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                Phone
                                <span>+1 123 456 7890, +1 123 454 699</span>
                            </li>
                        </ul>
                    </div> -->

                    <div class="sidebar-modal-widget">
                        <h3 class="title">Connect With Us</h3>
                        <ul class="social-list">
                            <li>
                                <a
                                    href="https://www.facebook.com/"
                                    target="_blank"
                                >
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://twitter.com/i/flow/login"
                                    target="_blank"
                                >
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.youtube.com/"
                                    target="_blank"
                                >
                                    <i class="bx bxl-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a
                                    href="https://www.instagram.com/accounts/login/"
                                    target="_blank"
                                >
                                    <i class="bx bxl-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
