<!-- @format -->

<!-- admin/partials/head.html -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
    name="description"
    content="A fully featured admin theme for CRM, CMS, etc."
/>
<meta name="author" content="Zoyothemes" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Favicon -->
<link rel="shortcut icon" href="/static/admin/assets/images/favicon.ico" />

<!-- App CSS -->
<link
    href="/static/admin/assets/css/app.min.css"
    rel="stylesheet"
    id="app-style"
/>
<link href="/static/admin/assets/css/icons.min.css" rel="stylesheet" />

<!-- DataTables CSS -->
<link
    href="/static/admin/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css"
    rel="stylesheet"
/>
<link
    href="/static/admin/assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css"
    rel="stylesheet"
/>
<link
    href="/static/admin/assets/libs/datatables.net-keytable-bs5/css/keyTable.bootstrap5.min.css"
    rel="stylesheet"
/>
<link
    href="/static/admin/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css"
    rel="stylesheet"
/>
<link
    href="/static/admin/assets/libs/datatables.net-select-bs5/css/select.bootstrap5.min.css"
    rel="stylesheet"
/>
<link
    href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.bootstrap5.min.css"
    rel="stylesheet"
/>
