<!-- ApexCharts -->
<script src="/static/admin/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="/static/admin/assets/js/pages/apexcharts-bubble.init.js"></script>
<script src="/static/admin/assets/js/pages/apexcharts-candlestick.init.js"></script>
<script src="/static/admin/assets/js/pages/apexcharts-funnel.init.js"></script>
<script src="/static/admin/assets/js/pages/apexcharts-heatmap.init.js"></script>
<script src="/static/admin/assets/js/pages/apexcharts-mixed.init.js"></script>
<script src="/static/admin/assets/js/pages/apexcharts-range-area.init.js"></script>
<script src="https://apexcharts.com/samples/static/admin/assets/stock-prices.js"></script>
<script src="https://apexcharts.com/samples/static/admin/assets/ohlc.js"></script>
