<!-- @format -->
<!-- admin/partials/scripts.html -->
<!-- Core JS Libraries -->
<script src="/static/admin/assets/libs/jquery/jquery.min.js"></script>
<script src="/static/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/admin/assets/libs/simplebar/simplebar.min.js"></script>
<script src="/static/admin/assets/libs/node-waves/waves.min.js"></script>
<script src="/static/admin/assets/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/static/admin/assets/libs/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/static/admin/assets/libs/feather-icons/feather.min.js"></script>

<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Plugins -->
<script src="/static/admin/assets/libs/jquery-countdown/jquery.countdown.min.js"></script>
<script src="/static/admin/assets/js/pages/coming-soon.init.js"></script>
<script src="/static/admin/assets/libs/glightbox/js/glightbox.min.js"></script>
<script src="/static/admin/assets/js/pages/glightbox.init.js"></script>

<!-- App JS -->
<script src="/static/admin/assets/js/app.js" defer></script>
