<!-- @format -->

<!DOCTYPE html>
<html lang="zxx">
    <head>
        {% include ('partials/head.html')%}
        <style>
            .hover-zoom:hover {
                transform: scale(1.03);
                transition: 0.3s ease-in-out;
            }
        </style>

    </head>
    <body>
        <!-- Start Navbar Sidebar Area -->
        {% include ('partials/narvar_sidebar.html') %}
        <!-- End Navbar Sidebar Modal -->

        <!-- Inner Banner -->
        <div class="inner-banner inner-bg1">
            <div class="container">
                <div class="inner-title text-center">
                    <h3>Giới Thiệu</h3>
                    <ul>
                        <li>
                            <a href="index.html">Trang Chủ</a>
                        </li>
                        <li>
                            <i class="bx bxs-chevrons-right"></i>
                        </li>
                        <li>Giới Thiệu</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Inner Banner End -->

        <!-- About Area -->
        <div class="about-area about-max pt-70 pb-50">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-5 col-xxl-6">
                        <div class="about-img about-ml">
                            <img
                                src="/static/assets/img/about/3.jpg"
                                alt="About Images"
                            />
                        </div>
                    </div>

                    <div class="col-lg-7 col-xxl-6">
                        <div class="about-content about-width" style="text-align: justify;">
                            <span>Giai đoạn I</span>
                            <h2>
                                Xây Dựng Mô Hình Phát Hiện Đám Cháy
                            </h2>
                            <p>
                                Hình ảnh trên mô tả quy trình phát hiện đám cháy bằng trí tuệ nhân tạo, bao gồm hai giai đoạn chính: Tiền xử lý dữ liệu (Data Preprocessing) và Phát hiện đám cháy (Fire Detection). Ở bước đầu tiên, các ảnh cháy được thu thập, gán nhãn và chia thành tập huấn luyện, kiểm thử và xác thực. Quá trình này đóng vai trò nền tảng, đảm bảo chất lượng đầu vào cho mô hình học sâu.
                            </p>
                            <p>
                                Sau khi chuẩn bị dữ liệu, mô hình được chọn, huấn luyện và đánh giá thông qua các thuật toán học sâu. Giai đoạn tiếp theo bao gồm triển khai (deployment), tích hợp hệ thống và bảo trì. Kết quả cuối cùng là hệ thống có thể phân loại được ảnh đầu vào là Fire (cháy) hoặc No Fire (không cháy), hỗ trợ cảnh báo sớm trong các tình huống khẩn cấp.
                            </p>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End -->

        <!-- About Area -->
        <!-- About Area -->
        <div class="about-area about-max pt-40 pb-20">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center">
                <!-- Nội dung bên trái (hiển thị trước ở mobile) -->
                    <div class="col-lg-7 col-xxl-6 order-1 order-lg-1">
                        <div class="about-content about-width" style="text-align: justify;">
                        <span>Giai đoạn II</span>
                        <h2>Xây Dựng Hệ Thống Web</h2>
                        <p>Mô hình tối ưu sau khi chọn sẽ được triển khai trên hệ thống web server sử dụng Flask, kết nối với cơ sở dữ liệu PostgreSQL để lưu trữ thông tin, sự kiện và quản lý hệ thống. Người dùng có thể truy cập, giám sát và nhận cảnh báo qua các thiết bị như điện thoại di động, laptop hoặc máy tính để bàn thông qua Internet, đảm bảo khả năng quản lý linh hoạt, thời gian thực và đa nền tảng.</p>
                        <p>Mô hình sau khi được huấn luyện sẽ được lưu trữ và tích hợp vào cơ sở dữ liệu của hệ thống web, hệ thống web được xây dựng theo kiến trúc client-server - một mô hình mạng máy tính phân tần bao gồm 2 thành phần chính là máy khách (client) và máy chủ (server) giao tiếp với nhau , cụ thể: máy chủ (server): đóng vai trò lưu trữ dữ liệu của hệ thống, đồng thời là nơi xử lý các yêu cầu (request) được gửi đến từ máy khách và trả về respone, máy khách (client): có nhiệm vụ gửi các yêu cầu đến máy chủ và đợi câu trả lời gửi về.
</p>
                        </div>
                    </div>

                    <!-- Ảnh bên phải (hiển thị sau ở mobile) -->
                    <div class="col-lg-5 col-xxl-6 order-2 order-lg-2">
                        <div class="about-img about-ml">
                        <img src="/static/assets/img/about/4.jpg" alt="About Images" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Area End -->


        

        <!-- Footer Area -->
        {% include ('partials/footer.html') %}
        <!-- Footer Area End -->

        <!-- Jquery Min JS -->
        <script src="/static/assets/js/jquery.min.js"></script>
        <!-- Bootstrap Bundle Min JS -->
        <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="/static/assets/js/meanmenu.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="/static/assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Wow JS -->
        <script src="/static/assets/js/wow.min.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="/static/assets/js/form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="/static/assets/js/contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="/static/assets/js/custom.js"></script>
    </body>
</html>
