<!-- @format -->

<!DOCTYPE html>
<html lang="zxx">
    <head>
        {% include ('partials/head.html')%}
    </head>
    <body>
        <!-- Start Navbar Sidebar Area -->
        {% include ('partials/narvar_sidebar.html') %}
        <!-- End Navbar Sidebar Modal -->

        <!-- Start Sign Up Area -->
        <section class="sing-up-area ptb-100">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Đặt mật khẩu mới</h2>
                    <p>
                        Nhập email của tài khoản của bạn để đặt lại mật khẩu.
                        Sau đó, bạn sẽ nhận được liên kết đến email để đặt lại
                        mật khẩu. Nếu bạn có bất kỳ vấn đề nào về đặt lại mật
                        khẩu
                        <a href="contact.html">hãy liên hệ với chúng tôi.</a>
                    </p>
                </div>
                <div class="contact-wrap-form log-in-width">
                    <form method="post">
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="form-group">
                                    <input
                                        class="form-control"
                                        type="email"
                                        name="name"
                                        placeholder="Nhập địa chỉ email"
                                    />
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <a class="recover-login" href="sign-in.html"
                                    >Đăng nhập</a
                                >
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <p class="recover-register">
                                    Chưa có tài khoản?
                                    <a href="sign-up.html">Đăng ký</a>
                                </p>
                            </div>

                            <div class="col-12 text-center">
                                <button
                                    class="default-btn btn-two"
                                    type="submit"
                                >
                                    Đặt lại mật khẩu
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- End Sign Up Area -->

        <!-- Footer Area -->
        {% include ('partials/footer.html') %}
        <!-- Footer Area End -->s

        <!-- Jquery Min JS -->
        <script src="/static/assets/js/jquery.min.js"></script>
        <!-- Bootstrap Bundle Min JS -->
        <script src="/static/assets/js/bootstrap.bundle.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="/static/assets/js/meanmenu.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="/static/assets/js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Wow JS -->
        <script src="/static/assets/js/wow.min.js"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="/static/assets/js/jquery.ajaxchimp.min.js"></script>
        <!-- Form Validator Min JS -->
        <script src="/static/assets/js/form-validator.min.js"></script>
        <!-- Contact Form JS -->
        <script src="/static/assets/js/contact-form-script.js"></script>
        <!-- Custom JS -->
        <script src="/static/assets/js/custom.js"></script>
    </body>
</html>
